<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blue Pages</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
	<body>
	<!-- <div class="container"> -->

		<div class="jumbotron">
			<h1><dummy style="color:blue;">Blue</dummy> Pages</h1>
			<p>the open source artist compensation tracker</p>
		</div>

		<div class="container" align="center">
			<input type="text" name="search" placeholder="Search for an artist, album or song...">
			<br>
			<p>Popular searches: <em>The Beatles, Radiohead, etc.</em></p>
		</div>


	<!-- </div> -->
	</body>
</html>
