<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BLUE Pages</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css"
				rel="stylesheet">
	<link rel="stylesheet"
				href="css/style.css">
	<script language="javascript"
           type="text/javascript"
           src="js/utils.js">
  </script>

</head>
	<body style="margin:0;">
		<container>

		<menu style="float:right;font-size:14pt;">
			<ul>
				<li>about</li>
				<li>dev tools</li>
				<li>the team</li>
				<li>contact</li>
			</ul>
		</menu>

		<div style="margin:15px">
			<em>Developed by</em>
			<img style="margin-left:15px" src="assets/team-blue.png" width="75px" height="75px">
		</div>

		<div class="jumbotron">
			<h1><div class="top-title">
				<dummy style="color:blue">BLUE</dummy>Pages
			</div></h1>
			<p style="text-align:center;">the open source artist compensation tracker</p>
		</div>

		<div class="container" align="center">
			<input id="compen-search"
						 type="search"
						 onsearch="print_search()"
						 name="search"
						 placeholder="Search for an artist, album or song...">
			<br>
			<p>top searches: <em>"The Beatles", "Radiohead", "Hamilton Soundtrack", "Thriller"</em></p>
		</div>

		</container>
	</body>
</html>
